<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="" class="title-wrapper">
      <div class="main">
        <ion-back-button class="back" defaultHref="home" text="" icon="chevron-back"></ion-back-button>
        <!-- <ion-icon name="chevron-back" class="back"></ion-icon> -->
        main titlemain titlemain titlemain titlemain titlemain titlemain titlemain titlemain titlemain titlemain title
      </div>
      <div class="sub">
        <span>sub titlesub titlesub titlesub titlesub titlesub titlesub titlesub title</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ng-container *ngFor="let item of listData">
      <ion-item>
        <ion-label>{{item}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
