$item-option-width: 100px;

.ion-content {
    --background:dodgerblue;
}

.ion-list {
    --ion-background-color:transparent;
}

.ion-item-sliding {
    margin-bottom: 10px;
    border-radius: 10px !important;
    background-color: rgba(240, 231, 231, 0.5);
}

.ion-item {
    --background: transparent;
    --inner-padding-end:0;
}

.ion-item-option::part(native) {
    width: $item-option-width;
    padding-left: 0;
    padding-right: 0;
}

.right-item-option-back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $item-option-width;
    background-color: #5260ff;
    z-index: -1;
}

.left-item-option-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: $item-option-width;
    background-color: #eb445a;
    z-index: -1;
}

.ion-item-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    width:100%
}

.ion-item-left-edit {
    width: 0px;
    background-color: darkviolet;
    position: relative;
    transition: width .2s linear;
}

.ion-item-right-edit {
    width: 0px;
    background-color: darkviolet;
    position: relative;
    transition: width .2s linear;
}

.ion-item-center-edit {
    width: 100%;
}
