<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label (click)="openPopover()">Open ion-popover</ion-label>
    <ion-popover [isOpen]="isPopover" arrow="false" style="--offset-y: -35%;">
      <ng-template>
        <ion-datetime local="ja-JP" presentation="date" showDefaultTimeLabel="false"
          min="2019"></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" [fullscreen]="true">
  <ion-list class="ion-list" lines="none">

    
    <ion-item-sliding (ionDrag)="onDrag($event, i)" class="ion-item-sliding" *ngFor="let book of bookList; let i = index"
      (click)="onItemSlidingClick($event, i)" (touchend)="onItemSlidingTouchEnd($event, i);">  


      <ion-item-options side="start">
        <ion-item-option color="danger" class="ion-item-option" [ngStyle]="book.customLeftStyle">
          <div slot="top">
            <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </div>
          ADD
        </ion-item-option>
      </ion-item-options>

      <ion-item href="#" class="ion-item" (click)="onItemClick()">
        <ion-label>
          <h2>{{book.customLeftStyle.transform}}</h2>
          <h2>{{book.customRightStyle.transform}}</h2>
          <p>Oceanic Next has joined your network</p>
        </ion-label>
        <ion-note slot="end">
          10:45 AM
        </ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="tertiary" class="ion-item-option" [ngStyle]="book.customRightStyle">
          <div slot="top">
            <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </div>
          DELETE
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
