$item-option-width: 100px;

.ion-content {
    --background:dodgerblue;
}

.ion-list {
    --ion-background-color:transparent;
}

.ion-item-sliding {
    margin-bottom: 10px;
    border-radius: 10px !important;
    background-color: rgba(240, 231, 231, 0.5);
}

.ion-item {
    --background: transparent;
    --inner-padding-end:0;
}

.ion-item-option::part(native) {
    width: $item-option-width;
    padding-left: 0;
    padding-right: 0;
}

.right-item-option-back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $item-option-width;
    background-color: #5260ff;
    z-index: -1;
}

.left-item-option-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: $item-option-width;
    background-color: #eb445a;
    z-index: -1;
}

.ion-item-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    width:100%
}

.ion-item-edit-container {
    width: 0px;
    flex: none;
    transition: width .5s linear;
}

.ion-item-center-edit {
    padding: 8px;
    flex: auto;
    overflow: hidden;
}

.ion-item-edit-btn {
    width: 70px; 
    height: 100%; 
    position: relative;
    // &left {

    // }

    // &right {

    // }
}

.ion-item-left-edit {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 11px;
    transition: width .5s, visibility .5s linear;
    border-right: 1px solid rgba(240, 231, 231, 0.5);
}

.ion-item-right-edit {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: transparent;
    font-size: 11px;
    transition: width .5s, visibility .5s linear;
    border-left: 1px solid rgba(240, 231, 231, 0.5);
}

.edit-icon {
    font-size: 24px;
}
