
.ion-content {
    --background:dodgerblue;
}

.ion-list {
    --ion-background-color:transparent;
}

.ion-item-sliding {
    margin-bottom: 10px;
    border-radius: 10px !important;
    background-color: rgba(240, 231, 231, 0.5);
}

.ion-item {
    --background: transparent;
}

.ion-item-option::part(native) {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
}
